<!DOCTYPE html>
<html lang="vi">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="language" content="vi">
    <meta http-equiv="REFRESH" content="1800">
    <title>Về chúng tôi</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../font/fontawesome/css/all.css">
    <link rel="stylesheet" href="../css/detail.css">
    <meta name="description" content="etoile">
    <meta name="keywords" content="etoile">
    <meta property="og:title" content="etoile">
    <meta property="og:type" content="website">
    <meta property="og:description" content="etoile">
    <meta property="og:site_name" content="etoile">
</head>

<body>
    <div id="wrapper">
        <header class="header">
            <div class="header-flex box-wp">
                <div class="header-left">
                    <div class="logo">
                        <a href="index.html"><img src="../images/logo etoi 3.png" alt="etoi"></a>
                    </div>
                </div>
                <div class="header-right">
                    <div class="main-menu">
                        <nav class="navigation">
                            <ul>
                                <li><a href="#"><span>mắt</span></a></li>
                                <li><a href="#"><span>Mũi</span></a></li>
                                <li><a href="#"><span>Khuôn mặt</span></a></li>
                                <li><a href="#"><span>Body</span></a></li>
                                <li><a href="#"><span>Trẻ hoá</span></a></li>
                                <li><a href="#"><span>Da liễu</span></a></li>
                                <li><a href="#"><span>Spa</span></a></li>
                                <li><a href="#"><span>Nha khoa</span></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="right">
                        <div class="top">
                            <a href="#"><img src="../images/icon-vietnam.png" alt="Vietnam"></a>
                            <a href="#"><img src="../images/icon-krorea.png" alt="Korea"></a>
                            <a href="#"><img src="../images/icon-britain.png" alt="Britain"></a>
                            <a href="#"><img src="../images/icon-china.png" alt="China"></a>
                        </div>
                        <div class="bottom">
                            <div class="contact">
                                <a href="#">LIÊN HỆ</a>
                            </div>
                            <a id="hamburger" href="#menu"><span></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header  -->
        <div class="topic box-wp">
            <img class="topic-img" src="../images/about-pic0.jpg" alt="">
            <div class="topic-name">
                <h3>TRANG CHỦ - LIÊN HỆ</h3>
                <H2>Về chúng tôi</H2>
            </div>
        </div>

        <section class="about">
            <div class="content-box box-wp">
                <h2 class="title">Etoile de Seoul</h2>
                <div class="about-text">
                    <p>Toạ lạc tại số 137 Nguyễn Văn Trỗi, Phường Mỗ Lao, quận Hà Đông, Hà Nội, Viện Thẩm Mỹ Etoile De
                        Seoul
                        là nơi chăm sóc sắc đẹp uy tín, chất lượng được nhiều chị em tin tưởng và lựa chọn.</p>
                    <p>Ra đời từ năm 2005 tại Hàn Quốc, Etoile De Seoul đã trải qua hành trình 17 năm phát triển rực rỡ
                        với
                        hệ thống Viện thẩm mỹ trải rộng khắp thế giới như: Hàn Quốc, Nhật Bản, Singapore, Đức, Trung
                        Quốc,
                        Thái Lan … và Việt Nam. Trên con đường khẳng định thương hiệu đẳng cấp quốc tế, Etoile De Seoul
                        luôn
                        cập nhật những tinh hoa từ các nền công nghiệp làm đẹp tiên tiến nhất thế giới, nhằm mang tới
                        cho
                        khách hàng những dịch vụ chất lượng nhất.</p>
                    <p>Lấy công nghệ là thế mạnh vượt trội, Etoile De Seoul luôn tiên phong trong việc chuyển giao và
                        ứng
                        dụng độc quyền các cộng nghệ làm đẹp hàng đầu thế giới như: trẻ hóa BBL Forever Young, trị nám
                        tàn
                        nhang Picolo, giảm béo 3 Max Plus, căng chỉ Collagen 8D... Cùng với sự hỗ trợ của 100% trang
                        thiết
                        bị, máy móc hiện đại đều được nhập khẩu từ các cường quốc làm đẹp trên khắp thế giới như Hoa Kỳ,
                        Hàn
                        Quốc... tất cả các dịch vụ tại viện thẩm mỹ đảm bảo cho khách hàng những trải nghiệm đẳng cấp
                        nhất.
                    </p>
                </div>
                <div class="about-img">
                    <img src="../images/about-pic1.jpg" alt="">
                </div>
            </div>
        </section>

        <div style="background: url('../images/about-bg-why.jpg'); max-width: 1440px;">
            <section class="eto-why box-wp">
                <div class="why-img">
                    <div class="d-flex">
                        <div class="box1"><img src="../images/about-pic2.jpg" alt=""></div>
                        <div class="box2"><img src="../images/about-pic3.jpg" alt=""></div>
                    </div>
                    <div class="box3"><img src="../images/about-pic4.jpg" alt=""></div>
                </div>
                <div class="content-box">
                    <h3 class="sub-title"><a href="#">về chúng tôi</a></h3>
                    <h2 class="title"><a href="">Tại sao nên chọn
                            Etoile de Seoul ?</a></h2>
                    <p>Áp dụng những phương pháp kết hợp những sản phẩm làm đẹp an toàn cho mọi khách hàng với
                        cơ sở
                        vật chất hiện đại, chuẩn Hàn, cùng đội ngũ bác sĩ, chuyên gia hàng đầu trong lĩnh vực
                        thẩm
                        mỹ tại Hàn Quốc và các nước như Đức, Nhật, Singapore… Cho kết quả đẹp ngay sau khi làm
                        và
                        hiệu quả duy trì bền lâu.</p>
                    <div class="why-txt">
                        <div class="why-item">
                            <img src="../images/bling.svg" alt="Tại sao nên chọn Etoile de Seoul">
                            <div>
                                <h4 class="title-item">Bác sĩ tận tâm</h4>
                                <p>Đội ngũ bác sĩ chuyên gia nhiều năm kinh nghiệm đến từ Hàn Quốc</p>
                            </div>
                        </div>
                        <div class="why-item">
                            <img src="../images/bling.svg" alt="Tại sao nên chọn Etoile de Seoul">
                            <div>
                                <h4 class="title-item">Quy trình hiện đại</h4>
                                <p>Quy trình hiện đại, tiên tiến, luôn cập nhập theo xu hướng mới nhất</p>
                            </div>
                        </div>
                        <div class="why-item">
                            <img src="../images/bling.svg" alt="Tại sao nên chọn Etoile de Seoul">
                            <div>
                                <h4 class="title-item">Công nghệ tiên tiến</h4>
                                <p>Áp dụng công nghệ làm đẹp hàng đầu, tiên tiến nhất với trang thiết bị hiện đại
                                </p>
                            </div>
                        </div>
                        <div class="why-item">
                            <img src="../images/bling.svg" alt="Tại sao nên chọn Etoile de Seoul">
                            <div>
                                <h4 class="title-item">Chi phí hợp lý</h4>
                                <p>Quy trình hiện đại, tiên tiến, luôn cập nhập theo xu hướng mới nhất</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section class="about-doctor">
            <div class="docter-wp box-wp">
                <h2 class="title">Đội ngũ bác sĩ</h2>
                <div class="doctor-list">
                    <div class="doctor-item">
                        <img src="../images/about-pic5.jpg" alt="">
                        <div class="doctor-info">
                            <div class="doctor-name">park kyong won</div>
                            <div class="doctor-job">Chuyên gia - Bác sĩ PTTM</div>
                        </div>
                    </div>
                    <div class="doctor-item">
                        <img src="../images/about-pic6.jpg" alt="">
                        <div class="doctor-info">
                            <div class="doctor-name">park kyong won</div>
                            <div class="doctor-job">Chuyên gia - Bác sĩ PTTM</div>
                        </div>
                    </div>
                    <div class="doctor-item">
                        <img src="../images/about-pic7.jpg" alt="">
                        <div class="doctor-info">
                            <div class="doctor-name">park kyong won</div>
                            <div class="doctor-job">Chuyên gia - Bác sĩ PTTM</div>
                        </div>
                    </div>
                    <div class="doctor-item">
                        <img src="../images/about-pic8.jpg" alt="">
                        <div class="doctor-info">
                            <div class="doctor-name">park kyong won</div>
                            <div class="doctor-job">Chuyên gia - Bác sĩ PTTM</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <style>
            .about-doctor .doctor-list {
                display: flex;
            }
            .about-doctor .doctor-item{
                padding: 0 20px;
            }
            .about-doctor .doctor-info{
                text-align: center;
            }
            .about-doctor .doctor-info .doctor-name{
                font-size: 18px;
                font-weight: 600;
                color: #614a30; 
                margin: 10px 0 0 0;
                text-transform: uppercase;
            }
        </style>


        <section class="about-award">
            <div class="award-wp box-wp">
                <h2>Giải thưởng, bằng chứng nhận</h2>
                <img src="../images/about-award2.jpg" alt="">
            </div>
        </section>
        <style>
            .about-award,
            .about-doctor {
                margin: 40px auto;
                width: 100%;
            }

            .about-award {
                background: url('../images/bg.jpg');
            }

            .about-award h2,
            .about-doctor h2 {
                text-align: center;
                padding-bottom: 40px;
            }
        </style>

        <section style="background: url('../images/Gradient.jpg');padding: 90px 0; text-align: center;">
            <img src="../images/logo etoi 3.png"
                alt="“Etoile de Seoul - Thương hiệu được tạo nên từ chất lượng và sự tận tâm”">
            <p>“Etoile de Seoul - Thương hiệu được tạo nên từ chất lượng và sự tận tâm”</p>
        </section>

        <!-- footer  -->
        <footer class="footer">
            <div class="footer-sitemap">
                <div class="box-wp">
                    <div class="ft-col1">
                        <h3 class="title">LIÊN HỆ</h3>
                        <p>
                            <meta charset="utf-8" />137 P. Nguyễn Văn Trỗi, P. Mộ Lao, Hà Đông, Hà Nội<br />
                            <meta charset="utf-8" />Hotline: 0988782832<br />
                            Email: info@etoile.vn &nbsp;
                        </p>
                    </div>
                    <div class="ft-col2">
                        <h3 class="title">LIÊN KẾT NHANH</h3>
                        <ul class="ft-sitemap clearfix">
                            <li><a href="./about-us.html">Về chúng tôi</a></li>
                            <li><a href="./question.html">Câu chuyện của khách hàng</a></li>
                            <li><a href="./news.html">Tin tức</a></li>
                            <li><a href="../index.html">Trang chủ</a></li>
                        </ul>
                    </div>
                    <div class="ft-col3">
                        <div class="hotline">
                            <h3 class="title">TỔNG ĐÀI HỖ TRỢ</h3>
                            <ul class="social">
                                <li><a href="tel:0988782832"><i class="fa-sharp fa-solid fa-headset"></i> 0988 782
                                        832</a></li>
                            </ul>
                        </div>
                        <div class="follow">
                            <h3 class="title">THEO DÕI CHÚNG TÔI</h3>
                            <div class="ft-social">
                                <ul class="social">
                                    <li class="facebook"><a target="_blank" href="https://www.facebook.com"><i
                                                class="fa-brands fa-facebook"></i></a></li>
                                    <li class="instagram"><a target="_blank" href="https://www.instagram.com"><i
                                                class="fa-brands fa-instagram"></i></a></li>
                                    <li class="youtube"><a target="_blank" href="https://www.youtube.com"><i
                                                class="fa-brands fa-youtube"></i></a></li>
                                    <li class="twitter"><a target="_blank" href="https://twitter.com"><i
                                                class="fa-brands fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ft-col4">
                        <h3 class="title">ĐĂNG KÍ NHẬN TƯ VẤN</h3>
                        <form action="" style="color: #AE7D67;">
                            <input style="color: #AE7D67;" type="text" placeholder="Email">
                            <button><i class="fa-solid fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="box-wp">
                    <div class="copyright">
                        <p>
                            <meta charset="utf-8" />
                            <meta charset="utf-8" />Copyright © 2023 <strong>EtoiledeSeoul.</strong> All rights
                            reserved.
                        </p>
                    </div>
                    <div class="dnw">Designed and Maintained by <a target="_blank" href="https://danaweb.vn">
                            <img style="margin-top: -10px;" src="../images/danaweb.png"></a></div>
                </div>
            </div>
        </footer>
        <!-- end footer  -->
        <nav id="menu" class="sub-menu">
            <ul>
                <li class="selected"><a href="../index.html">Trang chủ</a></li>
                <li><a href="./about-us.html">Về chúng tôi</a></li>
                <li><a href="./question.html">Câu chuyện của khách hàng</a></li>
                <li><a href="./news.html">Tin tức</a></li>
                <li><a href="./question.html">Câu hỏi thường gặp</a></li>
                <li><a href="./contact.html">Liên hệ</span></li>
                <img src="../images/logo etoi 3.png" alt="">
            </ul>
        </nav>
    </div>
</body>

</html>