<!DOCTYPE html>
<html lang="vi">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="language" content="vi">
    <meta http-equiv="REFRESH" content="1800">
    <title>etoile</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/detail.css">
    <link rel="stylesheet" href="../font/fontawesome/css/all.css">
    <meta name="description" content="etoile">
    <meta name="keywords" content="etoile">
    <meta property="og:title" content="etoile">
    <meta property="og:type" content="website">
    <meta property="og:description" content="etoile">
    <meta property="og:site_name" content="etoile">
</head>

<body>
    <div id="wrapper">
        <header class="header">
            <div class="header-flex box-wp">
                <div class="header-left">
                    <div class="logo">
                        <a href="../index.html"><img src="../images/logo etoi 3.png" alt="etoile"></a>
                    </div>
                </div>
                <div class="header-right">
                    <div class="top">
                        <a href="#"><img src="../images/icon-vietnam.png" alt="Vietnam"></a>
                        <a href="#"><img src="../images/icon-krorea.png" alt="Korea"></a>
                        <a href="#"><img src="../images/icon-britain.png" alt="Britain"></a>
                        <a href="#"><img src="../images/icon-china.png" alt="China"></a>
                    </div>
                    <div class="bottom">
                        <div class="main-menu">
                            <nav class="navigation">
                                <ul>
                                    <li><a href="#"><span>mắt</span></a></li>
                                    <li><a href="./detail-1.html"><span>Mũi</span></a></li>
                                    <li><a href="#"><span>Khuôn mặt</span></a></li>
                                    <li><a href="#"><span>Body</span></a></li>
                                    <li><a href="#"><span>Trẻ hoá</span></a></li>
                                    <li><a href="#"><span>Da liễu</span></a></li>
                                    <li><a href="#"><span>Spa</span></a></li>
                                    <li><a href="#"><span>Nha khoa</span></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="bottom-right">
                            <div class="contact">
                                <a href="./about-us.html">LIÊN HỆ</a>
                            </div>
                            <a id="hamburger" href="#menu"><span></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header  -->
        <div class="narbar">
        </div>

        <style>
            .container-detail h1 {
                margin: 40px 0 15px 0;
            }
            .content ul.menu-nose {
                list-style: none;
            }
            .content .menu-content {
                background: url('../images/nose-pig1.jpg');
                padding: 30px  30px 0 30px;
            }
            .content .menu-content h5 {
                font-size: 16px;
                font-weight: 600;
                color: #614A30;
                padding: 0 0 0 25px;
            }
            .content .list-content {
                text-align: justify;
                margin: 0 0 30px 0;
            }
            .sidebar ul.list-nose {
                padding-left: 10px;
                list-style: none;
                padding: 0;
            }
            .list-content .post-nose {
                    margin: 30px 0 0 0;
                }

            @media screen and (max-width: 1169px) {
                .container-detail .content {
                    padding: 0 10px;
                }
            }
            @media screen and (max-width: 880px) {
                .container-detail .sidebar,
                .container-detail .content {
                    width: 100%;
                    clear: both;
                }
                .container-detail .content {
                    padding: 0 10px;
                }
                .container-detail h2 {
                    font-size: 20px;
                }
                .container-detail h1 {
                    font-size: 35px;
                }

            }
        </style>

        <section class="container-detail box-wp">
            <div class="content">
                <section class="paper" style="background: url('../images/nose-pic0.jpg');">
                    <div class="wp-paper">
                        <div class="slogan">
                            <h2>Nâng mũi sụn Hàn Quốc</h2>
                            <h3>Đẹp từng góc cạnh - thăng hạng nhan sắc</h3>
                        </div>
                        <div class="paper-img"><img src="../images/nose-pic1.png" alt=""></div>
                    </div>
                </section>
                <section>
                    <h1>Nâng mũi sụn Hàn Quốc</h1>
                    <p>Để sở hữu vẻ ngoài cân đối với dáng mũi cao thanh tú, nhiều người đã thực hiện nâng mũi thẩm mỹ.
                        Giữa vô vàn những thương hiệu hiện có, nhiều khách hàng vẫn tin tưởng lựa chọn Viện Thẩm mỹ
                        Etoile de Seoul và ứng dụng công nghệ nâng mũi sụn Nano Hàn. Đây được xem là một trong những
                        quyết định đúng đắn giúp dáng mũi đẹp trọn đời.
                    </p>
                </section>
                <section class="menu-content">
                    <h5>MỤC LỤC</h5>
                    <ul class="menu-nose">
                        <li><a href="#1">1. Hiểu rõ hơn về nâng mũi sụn Nano Hàn</a></li>
                        <li><a href="#2">2. Những ai nên áp dụng nâng mũi bằng sụn</a></li>
                        <li><a href="#3">3. Điểm khác biệt khi nâng mũi sụn Nano Hàn</a></li>
                        <li><a href="#4">4. Quy trình nâng mũi bằng sụn chuẩn an toàn</a></li>
                        <li><a href="#5">5. Kết quả trước sau nâng mũi</a></li>
                        <li><a href="#6">6. Lý do nên nâng mũi sụn Nano Hàn tại Etoile de Seoul</a></li>
                    </ul>
                </section>
                <section class="list-content">
                    <div id="1" class="post-nose">
                        <h2>1. Hiểu rõ hơn về nâng mũi sụn Nano Hàn</h2>
                        <p>Có rất nhiều phương pháp nâng mũi hiện có. Dù ưu điểm như thế nào, thực hiện khác nhau ra sao
                            thì điểm chung của các công nghệ này cũng là lựa chọn loại sụn chất lượng để thẩm mỹ.
                            Sụn Nano Hàn có điểm khác biệt là làm từ chất liệu Nano cao cấp, có tính chất mềm dẻo, có
                            tính định hình cao. Theo đó, dáng mũi khi được áp dụng loại sụn này có tính tương thích rất
                            nhanh vào cơ thể, hạn chế dấu hiệu biến chứng, ngăn ngừa tình trạng bóng đỏ lộ sóng.
                            Không những góp phần tạo nên những chiếc mũi đẹp cuốn hút, phương pháp này còn có tác dụng
                            khắc phục hiệu quả các hạn chế kém duyên về chiếc mũi xấu. Công nghệ này góp phần tạo nên
                            những dáng mũi cân đối tự nhiên cùng hiệu quả làm đẹp trọn đời.</p>
                    </div>
                    <div id="2" class="post-nose">
                        <h2>2. Những ai nên áp dụng nâng mũi bằng sụn</h2>
                        <p>Nâng mũi sụn Hàn thực hiện an toàn, thay đổi toàn diện khuyết điểm, phù hợp cho những trường
                            hợp như:
                        <ul>
                            <li>Người có dáng mũi thấp, xấu, mất cân đối</li>
                            <li>Mũi bị hư hỏng do phẫu thuật trước đó</li>
                            <li>Đầu mũi to, xương mũi bè, cánh mũi rộng</li>
                            <li>Những ai muốn nâng mũi an toàn với kết quả tốt</li>
                        </ul>
                        </p>
                    </div>
                    <div id="3" class="post-nose">
                        <h2>3. Điểm khác biệt khi nâng mũi sụn Nano Hàn</h2>
                        <p>Một trong những yếu tố quyết định đến chất lượng nâng mũi chính là sụn. Theo đó, nâng mũi
                            bằng sụn hàn được lựa chọn nhiều vì những lý do khác biệt như:
                            Chất liệu sụn an toàn, đảm bảo tính an toàn cao và giúp ngăn ngừa những biến chứng khác nhau
                            khi thẩm mỹ. Kết quả nâng mũi được duy trì trọn đời.
                            Sụn Nano Hàn mềm mại, có tính dẻo dai, phù hợp nâng mũi cấu trúc với đường nét chữ S uốn
                            lượn. Hoàn thiện ca thẩm mỹ giúp vẻ ngoài cân đối và tự tin, tạo đường nét cân đối với cấu
                            trúc gương mặt. <br>
                            Nâng mũi sụn Nano Hàn thực hiện nhanh chóng. Trong 60 phút, bằng tay nghề chuyên môn cao,
                            bác sĩ khéo léo xử lý sụn an toàn đưa vào trong, nâng cao dáng mũi, can thiệp mọi khuyết
                            điểm. Người thực hiện có cảm giác thoải mái và thực sự tự tin khi làm đẹp.
                            Kỹ thuật nâng mũi hiện đại, tiêu chí ít xâm lấn, không gây đau đớn nhiều. Nhờ đó mà khi thực
                            hiện xong nâng mũi sụn Nano, ai cũng có thể hồi phục chỉ sau vài ngày.</p>
                    </div>
                    <div id="4" class="post-nose">
                        <h2>4. Quy trình nâng mũi bằng sụn chuẩn an toàn</h2>
                        <p>Viện Thẩm mỹ Etoile de Seoul thực hiện dịch vụ nâng mũi sụn nano Hàn an toàn, áp dụng quy
                            trình thực hiện hiệu quả. Theo đó, tại đây khách hàng sẽ được thử nghiệm qua những công đoạn
                            như: <br>
                            <strong>Bước 1:</strong> Thăm khám bởi bác sĩ chuyên khoa. Sau đó được tư vấn và đưa ra công
                            nghệ phù hợp.<br>
                            <strong>Bước 2:</strong> Kiểm tra sức khỏe tổng quát. Công đoạn này quan trọng, nhằm đảm bảo
                            đúng tiêu chuẩn
                            về sức khỏe trước khi làm đẹp.<br>
                            <strong>Bước 3:</strong> Tiến hành nâng mũi<br>
                            Bác sĩ gây tê, sau đó bóc tách dáng mũi, đưa sụn nano Hàn vào can thiệp. Sau khi cân chỉnh
                            và thay đổi hết các khuyết điểm, bác sĩ dùng chỉ thẩm mỹ khéo léo khâu vết thương lại. <br>
                            <strong>Bước 4:</strong> Nghỉ ngơi, hướng dẫn chăm sóc hậu phẫu<br>
                            <strong>Bước 5:</strong> Tái khám, uống thuốc đúng hướng dẫn của bác sĩ<br>
                        </p>
                        <div style="text-align: center;">
                            <img src="../images/nose-pic4.jpg" alt="">
                            <p><i>Nâng mũi Hàn Quốc làm thay đổi độ cao dáng mũi – Ảnh minh họa</i></p>
                        </div>
                    </div>
                    <div id="5" class="post-nose">
                        <h2>5. Kết quả trước sau nâng mũi</h2>
                        <div style="text-align: center;">
                            <img src="../images/nose-pic5.jpg" alt="">
                            <p><i>Hiệu quả sau khi nâng mũi bằng sụn tại Etoile de Seoul </i></p>
                            <img src="../images/nose-pic6.jpg" alt="">
                            <p><i>Hiệu quả sau khi nâng mũi bằng sụn tại Etoile de Seoul </i></p>
                        </div>
                    </div>
                    <div id="6" class="post-nose">
                        <h2>6. Lý do nên nâng mũi sụn Nano Hàn tại Etoile de Seoul</h2>
                        <p>Nâng mũi là dịch vụ thẩm mỹ được lựa chọn nhiều nhất trong thời gian qua. Theo đó, để đáp ứng
                            nhu cầu làm đẹp ngày càng cao, đông đảo khách hàng đã lựa chọn Etoile de Seoul.
                            Được đánh giá là thương hiệu uy tín, Etoile de Seoul tạo nên sự tin tưởng của khách hàng nhờ
                            hàng nghìn ca làm đẹp chất lượng. Nơi đây thường xuyên áp dụng quy trình chất lượng, có đội
                            ngũ nhân viên tận tâm và trách nhiệm.</p>
                    </div>
                </section>
            </div>
            <div class="sidebar">
                <h2>Các dịch vụ thẩm mỹ
                    mũi khác</h2>
                <ul class="list-nose">
                    <li><a href="#">Nâng mũi 7* nhân tướng học</a></li>
                    <li><a href="#">Nâng mũi bằng mô tự thân</a></li>
                    <li><a href="#">Nâng mũi sụn sườn tự thân</a></li>
                    <li><a href="#">Nâng mũi S-line</a></li>
                    <li><a href="#">Bọc đầu mũi mô tự thân</a></li>
                    <li><a href="#">Bọc đầu mũi mô nhân tạo</a></li>
                    <li><a href="#">Bọc sống mũi mô tự thân</a></li>
                    <li><a href="#">Bọc sống mũi mô nhân tạo</a></li>
                    <li><a href="#">Chỉnh sửa mũi gồ</a></li>
                    <li><a href="#">Tháo chất liệu</a></li>
                    <li><a href="#">Sửa lại mũi</a></li>
                    <li><a href="#">Thu nhỏ cánh mũi</a></li>
                </ul>
            </div>
        </section>
        <section style="background: url('../images/Gradient.jpg');padding: 90px 0; text-align: center;">
            <img src="../images/logo etoi 3.png"
                alt="“Etoile de Seoul - Thương hiệu được tạo nên từ chất lượng và sự tận tâm”">
            <p>“Etoile de Seoul - Thương hiệu được tạo nên từ chất lượng và sự tận tâm”</p>
        </section>

        <!-- footer  -->
        <footer class="footer">
            <div class="footer-sitemap">
                <div class="box-wp">
                    <div class="ft-col1">
                        <h3 class="title">LIÊN HỆ</h3>
                        <p>
                            <meta charset="utf-8" />137 P. Nguyễn Văn Trỗi, P. Mộ Lao, Hà Đông, Hà Nội<br />
                            <meta charset="utf-8" />Hotline: 0988782832<br />
                            Email: info@etoile.vn &nbsp;
                        </p>
                    </div>
                    <div class="ft-col2">
                        <h3 class="title">LIÊN KẾT NHANH</h3>
                        <ul class="ft-sitemap clearfix">
                            <li><a href="./about-us.html">Về chúng tôi</a></li>
                            <li><a href="./question.html">Câu chuyện của khách hàng</a></li>
                            <li><a href="./news.html">Tin tức</a></li>
                            <li><a href="../index.html">Trang chủ</a></li>
                        </ul>
                    </div>
                    <div class="ft-col3">
                        <div class="hotline">
                            <h3 class="title">TỔNG ĐÀI HỖ TRỢ</h3>
                            <ul class="social">
                                <li><a href="tel:0988782832"><i class="fa-sharp fa-solid fa-headset"></i> 0988 782
                                        832</a></li>
                            </ul>
                        </div>
                        <div class="follow">
                            <h3 class="title">THEO DÕI CHÚNG TÔI</h3>
                            <div class="ft-social">
                                <ul class="social">
                                    <li class="facebook"><a target="_blank" href="https://www.facebook.com"><i
                                                class="fa-brands fa-facebook"></i></a></li>
                                    <li class="instagram"><a target="_blank" href="https://www.instagram.com"><i
                                                class="fa-brands fa-instagram"></i></a></li>
                                    <li class="youtube"><a target="_blank" href="https://www.youtube.com"><i
                                                class="fa-brands fa-youtube"></i></a></li>
                                    <li class="twitter"><a target="_blank" href="https://twitter.com"><i
                                                class="fa-brands fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ft-col4">
                        <h3 class="title">ĐĂNG KÍ NHẬN TƯ VẤN</h3>
                        <form action="" style="color: #AE7D67;">
                            <input style="color: #AE7D67;" type="text" placeholder="Email">
                            <button><i class="fa-solid fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="box-wp">
                    <div class="copyright">
                        <p>
                            <meta charset="utf-8" />
                            <meta charset="utf-8" />Copyright © 2023 <strong>EtoiledeSeoul.</strong> All rights
                            reserved.
                        </p>
                    </div>
                    <div class="dnw">Designed and Maintained by <a target="_blank" href="https://danaweb.vn">
                            <img style="margin-top: -10px;" src="../images/danaweb.png"></a></div>
                </div>
            </div>
        </footer>
        <!-- end footer  -->
        <nav id="menu" class="sub-menu">
            <ul>
                <li class="selected"><a href="../index.html">Trang chủ</a></li>
                <li><a href="./about-us.html">Về chúng tôi</a></li>
                <li><a href="./question.html">Câu chuyện của khách hàng</a></li>
                <li><a href="./news.html">Tin tức</a></li>
                <li><a href="./question.html">Câu hỏi thường gặp</a></li>
                <li><a href="./contact.html">Liên hệ</span></li>
                <img src="../images/logo etoi 3.png" alt="">
            </ul>
        </nav>
    </div>
</body>

</html>