<!DOCTYPE html>
<html lang="vi">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="language" content="vi">
    <meta http-equiv="REFRESH" content="1800">
    <title>Tin tức</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../font/fontawesome/css/all.css">
    <link rel="stylesheet" href="../css/detail.css">
    <meta name="description" content="etoile">
    <meta name="keywords" content="etoile">
    <meta property="og:title" content="etoile">
    <meta property="og:type" content="website">
    <meta property="og:description" content="etoile">
    <meta property="og:site_name" content="etoile">
</head>

<body>
    <div id="wrapper">
        <header class="header">
            <div class="header-flex box-wp">
                <div class="header-left">
                    <div class="logo">
                        <a href="../index.html"><img src="../images/logo etoi 3.png" alt="etoile"></a>
                    </div>
                </div>
                <div class="header-right">
                    <div class="top">
                        <a href="#"><img src="../images/icon-vietnam.png" alt="Vietnam"></a>
                        <a href="#"><img src="../images/icon-krorea.png" alt="Korea"></a>
                        <a href="#"><img src="../images/icon-britain.png" alt="Britain"></a>
                        <a href="#"><img src="../images/icon-china.png" alt="China"></a>
                    </div>
                    <div class="bottom">
                        <div class="main-menu">
                            <nav class="navigation">
                                <ul>
                                    <li><a href="#eyes"><span>mắt</span></a>
                                        <div id="eyes" class="eye-menu">
                                            <div class="eye-img"><img src="../images/eyes.jpg" alt=""></div>
                                            <div class="eye-list d-block">
                                                <a href="">Chuyển mỡ/ cơ vòng mi mắt</a>
                                                <a href="">Nhấn mí</a>
                                                <a href="">Cắt mí full</a>
                                                <a href="">Tạo khoé mắt trong/ngoài</a>
                                                <a href="">Cắt mí mắt Mini Deep 6D</a>
                                                <a href="">Chuyển mỡ/ cơ vòng mi mắt</a>
                                                <a href="">Nâng cung mày</a>
                                            </div>
                                            <div class="eye-list d-block">
                                                <a href="">Nâng cung mày</a>
                                                <a href="">Cắt mí mắt</a>
                                                <a href="">Tạo hình sụp mí</a>
                                                <a href="">Phẫu thuật cấy bỏ Sillicon</a>
                                                <a href="">Tạo hình 2 đầu lông mày</a>
                                                <a href="">Làm đầy hốc mắt</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="../template/detail-1.html"><span>Mũi</span></a></li>
                                    <li><a href="#"><span>Khuôn mặt</span></a></li>
                                    <li><a href="#"><span>Body</span></a></li>
                                    <li><a href="#"><span>Trẻ hoá</span></a></li>
                                    <li><a href="#"><span>Da liễu</span></a></li>
                                    <li><a href="#"><span>Spa</span></a></li>
                                    <li><a href="#"><span>Nha khoa</span></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="bottom-right">
                            <div class="contact">
                                <a href="../template/contact.html">LIÊN HỆ</a>
                            </div>
                            <a id="hamburger" href="#menu"><span></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header  -->
        <div class="topic box-wp ">
            <img style="min-height: 200px;" src="../images/topic.jpg" alt="">
            <div class="topic-name">
                <h3>TRANG CHỦ - LIÊN HỆ</h3>
                <H2>Tin tức</H2>
            </div>
        </div>
        <section class="container-detail box-wp">
            <div class="content">
                <ul class="list-post">
                    <li>
                        <a href="#" class="post-thumb">
                            <img src="../images/new-dt1.jpg" alt="">
                        </a>
                        <div class="more-info">
                            <span class="post-date">03 tháng 04, 2023</span>
                            <a href="#" class="post-title">Gợi ý chu trình chăm dưỡng cho làn da dầu mùa nắng nóng</a>
                            <p class="post-excerpt">Để chăm sóc da, mỗi người cần tuân thủ các bước rửa mặt sạch, dùng
                                toner, kem dưỡng
                                ẩm và thoa kem chống nắng khi ra ngoài.</p>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="post-thumb">
                            <img src="../images/new-dt2.jpg" alt="">
                        </a>
                        <div class="more-info">
                            <span class="post-date">03 tháng 04, 2023</span>
                            <a href="#" class="post-title">Công nghệ hỗ trợ xử lý sẹo, nám ‘1064 nm Fractional’ </a>
                            <p class="post-excerpt">Công nghệ "1064 nm Fractional" được áp dụng trên thiết bị Laser Pico
                                Plus với công dụng hỗ trợ trị liệu các tình trạng nám, sạm, lỗ chân lông to...</p>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="post-thumb">
                            <img src="../images/new-dt3.jpg" alt="">
                        </a>
                        <div class="more-info">
                            <span class="post-date">03 tháng 04, 2023</span>
                            <a href="#" class="post-title">Những điều cần biết về phương pháp trẻ hóa da đa tầng</a>
                            <p class="post-excerpt">Theo Thẩm mỹ viện Etoile de Seoul, trẻ hóa da đa tầng sẽ hỗ trợ phái
                                nữ xóa các vết nám, da mịn màng và làm chậm quá trình lão hóa.</p>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="post-thumb">
                            <img src="../images/new-dt4.jpg" alt="">
                        </a>
                        <div class="more-info">
                            <span class="post-date">03 tháng 04, 2023</span>
                            <a href="#" class="post-title">Có nên giảm cân bằng chế độ ăn low-carb?</a>
                            <p class="post-excerpt">Theo Thẩm mỹ viện Etoile de Seoul, trẻ hóa da đa tầng sẽ hỗ trợ phái
                                nữ xóa các vết nám, da mịn màng và làm chậm quá trình lão hóa.</p>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="post-thumb">
                            <img src="../images/new-dt3.jpg" alt="">
                        </a>
                        <div class="more-info">
                            <span class="post-date">03 tháng 04, 2023</span>
                            <a href="#" class="post-title">Sửa mũi hỏng bằng kỹ thuật nâng mũi tái cấu trúc</a>
                            <p class="post-excerpt">Nâng mũi tái cấu trúc bằng vật liệu độn nhân tạo kết hợp sụn tự thân
                                giúp sửa chữa mũi hỏng do chấn thương, biến chứng trước đó.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="sidebar">
                <h2>Phổ biến</h2>
                <div><img src="../images/bling.jpg" alt=""></div>
                <ul class="list-nose">
                    <li>
                        <p class="list-number">1</p>
                        <a href="">Lưu ý khi trẻ hóa da bằng công nghệ cao</a>
                    </li>
                    <li>
                        <p class="list-number">2</p>
                        <a href="">Bí quyết sở hữu vòng 1 hoàn hảo không tì vết sau nâng ngực sa trễ</a>
                    </li>
                    <li>
                        <p class="list-number">3</p>
                        <a href="">Làm thế nào để loại bỏ những vết sẹo xấu khỏi làn da?</a>
                    </li>
                    <li>
                        <p class="list-number">4</p>
                        <a href="">Làm thế nào để loại bỏ những vết sẹo xấu khỏi làn da?</a>
                    </li>
                    <li>
                        <p class="list-number">5</p>
                        <a href="">Làm thế nào để loại bỏ những vết sẹo xấu khỏi làn da?</a>
                    </li>
                    <li>
                        <p class="list-number">6</p>
                        <a href="">
                            <p>Làm thế nào để loại bỏ những vết sẹo xấu khỏi làn da?</p>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section style="background: url('../images/Gradient.jpg');padding: 90px 0; text-align: center;">
            <img src="../images/logo etoi 3.png"
                alt="“Etoile de Seoul - Thương hiệu được tạo nên từ chất lượng và sự tận tâm”">
            <p>“Etoile de Seoul - Thương hiệu được tạo nên từ chất lượng và sự tận tâm”</p>
        </section>

        <!-- footer  -->
        <footer class="footer">
            <div class="footer-sitemap">
                <div class="box-wp">
                    <div class="ft-col1">
                        <h3 class="title">LIÊN HỆ</h3>
                        <p>
                            <meta charset="utf-8" />137 P. Nguyễn Văn Trỗi, P. Mộ Lao, Hà Đông, Hà Nội<br />
                            <meta charset="utf-8" />Hotline: 0988782832<br />
                            Email: info@etoile.vn &nbsp;
                        </p>
                    </div>
                    <div class="ft-col2">
                        <h3 class="title">LIÊN KẾT NHANH</h3>
                        <ul class="ft-sitemap clearfix">
                            <li><a href="./about-us.html">Về chúng tôi</a></li>
                            <li><a href="./question.html">Câu chuyện của khách hàng</a></li>
                            <li><a href="./news.html">Tin tức</a></li>
                            <li><a href="../index.html">Trang chủ</a></li>
                        </ul>
                    </div>
                    <div class="ft-col3">
                        <div class="hotline">
                            <h3 class="title">TỔNG ĐÀI HỖ TRỢ</h3>
                            <ul class="social">
                                <li><a href="tel:0988782832"><i class="fa-sharp fa-solid fa-headset"></i> 0988 782
                                        832</a></li>
                            </ul>
                        </div>
                        <div class="follow">
                            <h3 class="title">THEO DÕI CHÚNG TÔI</h3>
                            <div class="ft-social">
                                <ul class="social">
                                    <li class="facebook"><a target="_blank" href="https://www.facebook.com"><i
                                                class="fa-brands fa-facebook"></i></a></li>
                                    <li class="instagram"><a target="_blank" href="https://www.instagram.com"><i
                                                class="fa-brands fa-instagram"></i></a></li>
                                    <li class="youtube"><a target="_blank" href="https://www.youtube.com"><i
                                                class="fa-brands fa-youtube"></i></a></li>
                                    <li class="twitter"><a target="_blank" href="https://twitter.com"><i
                                                class="fa-brands fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ft-col4">
                        <h3 class="title">ĐĂNG KÍ NHẬN TƯ VẤN</h3>
                        <form action="" style="color: #AE7D67;">
                            <input style="color: #AE7D67;" type="text" placeholder="Email">
                            <button><i class="fa-solid fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="box-wp">
                    <div class="copyright">
                        <p>
                            <meta charset="utf-8" />
                            <meta charset="utf-8" />Copyright © 2023 <strong>EtoiledeSeoul.</strong> All rights
                            reserved.
                        </p>
                    </div>
                    <div class="dnw">Designed and Maintained by <a target="_blank" href="https://danaweb.vn">
                            <img style="margin-top: -10px;" src="../images/danaweb.png"></a></div>
                </div>
            </div>
        </footer>
        <!-- end footer  -->
        <nav id="menu" class="sub-menu">
            <ul>
                <li class="selected"><a href="../index.html">Trang chủ</a></li>
                <li><a href="./about-us.html">Về chúng tôi</a></li>
                <li><a href="./question.html">Câu chuyện của khách hàng</a></li>
                <li><a href="./news.html">Tin tức</a></li>
                <li><a href="./question.html">Câu hỏi thường gặp</a></li>
                <li><a href="./contact.html">Liên hệ</span></li>
                <img src="../images/logo etoi 3.png" alt="">
            </ul>
        </nav>
    </div>
</body>

</html>