<!DOCTYPE html>
<html lang="vi">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="language" content="vi">
    <meta http-equiv="REFRESH" content="1800">
    <title>Tin tức</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../font/fontawesome/css/all.css">
    <link rel="stylesheet" href="../css/detail.css">
    <meta name="description" content="etoile">
    <meta name="keywords" content="etoile">
    <meta property="og:title" content="etoile">
    <meta property="og:type" content="website">
    <meta property="og:description" content="etoile">
    <meta property="og:site_name" content="etoile">
</head>

<body>
    <div id="wrapper">
        <header class="header">
            <div class="header-flex box-wp">
                <div class="header-left">
                    <div class="logo">
                        <a href="index.html"><img src="../images/logo etoi 3.png" alt="etoi"></a>
                    </div>
                </div>
                <div class="header-right">
                    <div class="main-menu">
                        <nav class="navigation">
                            <ul>
                                <li><a href="#"><span>mắt</span></a></li>
                                <li><a href="#"><span>Mũi</span></a></li>
                                <li><a href="#"><span>Khuôn mặt</span></a></li>
                                <li><a href="#"><span>Body</span></a></li>
                                <li><a href="#"><span>Trẻ hoá</span></a></li>
                                <li><a href="#"><span>Da liễu</span></a></li>
                                <li><a href="#"><span>Spa</span></a></li>
                                <li><a href="#"><span>Nha khoa</span></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="right">
                        <div class="top">
                            <a href="#"><img src="../images/icon-vietnam.png" alt="Vietnam"></a>
                            <a href="#"><img src="../images/icon-krorea.png" alt="Korea"></a>
                            <a href="#"><img src="../images/icon-britain.png" alt="Britain"></a>
                            <a href="#"><img src="../images/icon-china.png" alt="China"></a>
                        </div>
                        <div class="bottom">
                            <div class="contact">
                                <a href="#">LIÊN HỆ</a>
                            </div>
                            <a id="hamburger" href="#menu"><span></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header  -->
        <section class="container-detail box-wp">
            <div class="content">
                <div>
                    <div class="date">03 tháng 04, 2023</div>
                    <h1>Gợi ý chu trình chăm dưỡng cho làn da dầu mùa nắng nóng</h1>
                    <p>Để chăm sóc da, mỗi người cần tuân thủ các bước rửa mặt sạch, dùng toner, kem dưỡng ẩm và thoa
                        kem chống nắng khi ra ngoài.
                        Mùa hè là thời điểm nhiệt độ tăng cao, khiến ánh nắng trở nên gay gắt và chỉ số tia UV cũng
                        tăng. Do đó, tuyến mồ hôi trên da cũng bắt đầu hoạt động mạnh hơn. Các yếu tố này kéo theo nhiều
                        vấn đề như da cháy nắng, mụn, sạm, nám, da bong tróc, lão hóa da... sẽ làm làn da bị tổn hại và
                        ảnh hưởng thẩm mỹ. Dưới đây là những cách chăm dưỡng cho làn da dầu mùa nắng nóng.</p>
                </div>
                <div class="list-post">
                    <div class="post">
                        <h2>Dùng sữa rửa mặt</h2>
                        <p>Da dầu cần được làm sạch lỗ chân lông. Ngoài yếu tố thông thoáng da, sản phẩm sữa rửa mặt
                            không được làm mất độ ẩm tự nhiên của da. Vì việc hạn chế được tình trạng tiết dầu sẽ giúp
                            làn da dễ hấp thu các bước chăm sóc khác hiệu quả hơn.</p>
                            <img src="../images/news-dt1.jpg" alt="">
                    </div>
                    <div class="post">
                        <h2>Dùng sữa rửa mặt</h2>
                        <p>Da dầu cần được làm sạch lỗ chân lông. Ngoài yếu tố thông thoáng da, sản phẩm sữa rửa mặt
                            không được làm mất độ ẩm tự nhiên của da. Vì việc hạn chế được tình trạng tiết dầu sẽ giúp
                            làn da dễ hấp thu các bước chăm sóc khác hiệu quả hơn.</p>
                            <img src="../images/news-dt1.jpg" alt="">
                    </div>
                    <div class="post">
                        <h2>Dùng sữa rửa mặt</h2>
                        <p>Da dầu cần được làm sạch lỗ chân lông. Ngoài yếu tố thông thoáng da, sản phẩm sữa rửa mặt
                            không được làm mất độ ẩm tự nhiên của da. Vì việc hạn chế được tình trạng tiết dầu sẽ giúp
                            làn da dễ hấp thu các bước chăm sóc khác hiệu quả hơn.</p>
                            <img src="../images/news-dt1.jpg" alt="">
                    </div>s
                </div>
            </div>
            <div class="sidebar">
                <img src="../images/news-dt0.jpg" alt="">
                <h2>Phổ biến</h2>
                <div style="position: absolute; top: 0; right: 0;"><img src="../images/bling.jpg" alt=""></div>
                <ul class="list-nose">
                    <li>
                        <p class="list-number">1</p>
                        <a href="">Lưu ý khi trẻ hóa da bằng công nghệ cao</a>
                    </li>
                    <li>
                        <p class="list-number">2</p>
                        <a href="">Bí quyết sở hữu vòng 1 hoàn hảo không tì vết sau nâng ngực sa trễ</a>
                    </li>
                    <li>
                        <p class="list-number">3</p>
                        <a href="">Làm thế nào để loại bỏ những vết sẹo xấu khỏi làn da?</a>
                    </li>
                    <li>
                        <p class="list-number">4</p>
                        <a href="">Làm thế nào để loại bỏ những vết sẹo xấu khỏi làn da?</a>
                    </li>
                    <li>
                        <p class="list-number">5</p>
                        <a href="">Làm thế nào để loại bỏ những vết sẹo xấu khỏi làn da?</a>
                    </li>
                    <li>
                        <p class="list-number">6</p>
                        <a href="">
                            <p>Làm thế nào để loại bỏ những vết sẹo xấu khỏi làn da?</p>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section style="background: url('../images/Gradient.jpg');padding: 90px 0; text-align: center;">
            <img src="../images/logo etoi 3.png"
                alt="“Etoile de Seoul - Thương hiệu được tạo nên từ chất lượng và sự tận tâm”">
            <p>“Etoile de Seoul - Thương hiệu được tạo nên từ chất lượng và sự tận tâm”</p>
        </section>

        <!-- footer  -->
        <footer class="footer">
            <div class="footer-sitemap">
                <div class="box-wp">
                    <div class="ft-col1">
                        <h3 class="title">LIÊN HỆ</h3>
                        <p>
                            <meta charset="utf-8" />137 P. Nguyễn Văn Trỗi, P. Mộ Lao, Hà Đông, Hà Nội<br />
                            <meta charset="utf-8" />Hotline: 0988782832<br />
                            Email: info@etoile.vn &nbsp;
                        </p>
                    </div>
                    <div class="ft-col2">
                        <h3 class="title">LIÊN KẾT NHANH</h3>
                        <ul class="ft-sitemap clearfix">
                            <li><a href="./about-us.html">Về chúng tôi</a></li>
                            <li><a href="./question.html">Câu chuyện của khách hàng</a></li>
                            <li><a href="./news.html">Tin tức</a></li>
                            <li><a href="../index.html">Trang chủ</a></li>
                        </ul>
                    </div>
                    <div class="ft-col3">
                        <div class="hotline">
                            <h3 class="title">TỔNG ĐÀI HỖ TRỢ</h3>
                            <ul class="social">
                                <li><a href="tel:0988782832"><i class="fa-sharp fa-solid fa-headset"></i> 0988 782
                                        832</a></li>
                            </ul>
                        </div>
                        <div class="follow">
                            <h3 class="title">THEO DÕI CHÚNG TÔI</h3>
                            <div class="ft-social">
                                <ul class="social">
                                    <li class="facebook"><a target="_blank" href="https://www.facebook.com"><i
                                                class="fa-brands fa-facebook"></i></a></li>
                                    <li class="instagram"><a target="_blank" href="https://www.instagram.com"><i
                                                class="fa-brands fa-instagram"></i></a></li>
                                    <li class="youtube"><a target="_blank" href="https://www.youtube.com"><i
                                                class="fa-brands fa-youtube"></i></a></li>
                                    <li class="twitter"><a target="_blank" href="https://twitter.com"><i
                                                class="fa-brands fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ft-col4">
                        <h3 class="title">ĐĂNG KÍ NHẬN TƯ VẤN</h3>
                        <form action="" style="color: #AE7D67;">
                            <input style="color: #AE7D67;" type="text" placeholder="Email">
                            <button><i class="fa-solid fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="box-wp">
                    <div class="copyright">
                        <p>
                            <meta charset="utf-8" />
                            <meta charset="utf-8" />Copyright © 2023 <strong>EtoiledeSeoul.</strong> All rights
                            reserved.
                        </p>
                    </div>
                    <div class="dnw">Designed and Maintained by <a target="_blank" href="https://danaweb.vn">
                            <img style="margin-top: -10px;" src="../images/danaweb.png"></a></div>
                </div>
            </div>
        </footer>
        <!-- end footer  -->
        <nav id="menu" class="sub-menu">
            <ul>
                <li class="selected"><a href="../index.html">Trang chủ</a></li>
                <li><a href="./about-us.html">Về chúng tôi</a></li>
                <li><a href="./question.html">Câu chuyện của khách hàng</a></li>
                <li><a href="./news.html">Tin tức</a></li>
                <li><a href="./question.html">Câu hỏi thường gặp</a></li>
                <li><a href="./contact.html">Liên hệ</span></li>
                <img src="../images/logo etoi 3.png" alt="">
            </ul>
        </nav>
    </div>
</body>

</html>