<!DOCTYPE html>
<html lang="vi">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="language" content="vi">
    <meta http-equiv="REFRESH" content="1800">
    <title>etoile</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/detail.css">
    <link rel="stylesheet" href="../font/fontawesome/css/all.css">
    <meta name="description" content="etoile">
    <meta name="keywords" content="etoile">
    <meta property="og:title" content="etoile">
    <meta property="og:type" content="website">
    <meta property="og:description" content="etoile">
    <meta property="og:site_name" content="etoile">
</head>

<body>
    <div id="wrapper">
        <header class="header">
            <div class="header-flex box-wp">
                <div class="header-left">
                    <div class="logo">
                        <a href="index.html"><img src="../images/logo etoi 3.png" alt="etoi"></a>
                    </div>
                </div>
                <div class="header-right">
                    <div class="main-menu">
                        <nav class="navigation">
                            <ul>
                                <li><a href="#"><span>mắt</span></a></li>
                                <li><a href="#"><span>Mũi</span></a></li>
                                <li><a href="#"><span>Khuôn mặt</span></a></li>
                                <li><a href="#"><span>Body</span></a></li>
                                <li><a href="#"><span>Trẻ hoá</span></a></li>
                                <li><a href="#"><span>Da liễu</span></a></li>
                                <li><a href="#"><span>Spa</span></a></li>
                                <li><a href="#"><span>Nha khoa</span></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="right">
                        <div class="top">
                            <a href="#"><img src="../images/icon-vietnam.png" alt="Vietnam"></a>
                            <a href="#"><img src="../images/icon-krorea.png" alt="Korea"></a>
                            <a href="#"><img src="../images/icon-britain.png" alt="Britain"></a>
                            <a href="#"><img src="../images/icon-china.png" alt="China"></a>
                        </div>
                        <div class="bottom">
                            <div class="contact">
                                <a href="#">LIÊN HỆ</a>
                            </div>
                            <a id="hamburger" href="#menu"><span></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header  -->
        <div class="topic box-wp">
            <img src="../images/question-topic.jpg" alt="Câu hỏi thường gặp">
            <div class="topic-name">
                <h3>TRANG CHỦ - LIÊN HỆ</h3>
                <H2>Câu hỏi thường gặp</H2>
            </div>
        </div>
        <section class="container box-wp">
            <div class="sidebar">
                <h2 style="font-size: 32px;font-weight: 400;">Câu hỏi thường gặp</h2>
                <div style="position: absolute; top: 0; right: 0;"><img src="../images/bling.jpg" alt=""></div>
                <ul class="list-question">
                    <li><a href="#1">Độ tuổi thích hợp để phẫu thuật thẩm mỹ?</a></li>
                    <li><a href="#2">Phẫu thuật thẩm mỹ có an toàn không?</a></li>
                    <li><a href="#3">Quy trình phẫu thuật thẩm mỹ này có cần gây
                            mê không?</a></li>
                    <li><a href="#4">Bác sĩ được chứng nhận về mặt chuyên môn
                            là như thế nào?</a></li>
                    <li><a href="#5">Phẫu thuật thẩm mỹ có thể thực hiện tại Spa,
                            thẩm mỹ viện hoặc các cơ sở làm đẹp, trung
                            tâm phẫu thuật thẩm mỹ hay phẫu thuật phải
                            được thực hiện tại bệnh viện?</a></li>
                    <li><a href="#6">Tôi nên làm gì để đạt được kết quả tốt nhất
                            từ ca phẫu thuật của mình?</a></li>
                    <li><a href="#7">Nếu có các biến chứng nghiêm trọng trong
                            quá trình thực hiện hoặc sau phẫu thuật,
                            bác sĩ phẫu thuật có chịu trách nhiệm và có
                            giải pháp điều trị hay không?</a></li>
                </ul>
                <form id="_contact" name="contact" class="form f-space20" method="post">
                    <div class="form-contact clearfix">
                        <div class="form-item form-lg">
                            <input type="text" name="name" placeholder="TÊN" value="" required maxlength="300">
                        </div>
                        <div class="form-item form-lg">
                            <input type="text" name="tel" placeholder="SỐ ĐIỆN THOẠI" value="" required maxlength="300">
                        </div>
                        <div class="form-item form-lg">
                            <textarea name="content" placeholder="CÂU HỎI" required cols="20" rows="4"></textarea>
                        </div>
                        <div class="form-item form-lg box-rbtn">
                            <button type="submit" class="btn btn-send" name="contact">
                                <span class="s_submit">Gửi câu hỏi&nbsp;
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="content">
                <section class="list-content">
                    <div id="1" class="item-content">
                        <h2>Độ tuổi thích hợp để phẫu thuật thẩm mỹ?</h2>
                        <p>Thường thì không có "độ tuổi thích hợp" để phẫu thuật thẩm mỹ. Các phương
                            pháp điều trị như nâng ngực, hút mỡ, làm mũi và mài da có xu hướng phổ biến
                            hơn đối với bệnh nhân trẻ tuổi, trong khi bệnh nhân lớn tuổi chịu sự tác động
                            của lão hóa có thể tìm đến các thủ thuật như nâng mí mắt, nâng chân mày,
                            căng da mặt hoặc nâng cổ.
                            Tuy nhiên, Tổ chức Y tế thế giới khuyến cáo bệnh nhân phẫu thuật thẩm mỹ nên
                            đủ 18 tuổi trở lên, người có đủ nhận thức cũng như quyền để tự quyết định
                            về ca phẫu thuật mà bạn sắp thực hiện.
                            Trước bất kỳ phẫu thuật nào, bạn nên được thăm khám và tư vấn bởi bác sĩ
                            chuyên khoa. Bạn có thể thảo luận với bác sĩ về kết quả mà bạn mong muốn.
                            Bác sĩ có thể đánh giá mục tiêu của bạn dựa trên cơ sở của từng bệnh nhân
                            cụ thể.</p>
                    </div>
                    <div id="2" class="item-content">
                        <h2>Phẫu thuật thẩm mỹ có an toàn không?</h2>
                        <p>Rất khó để trả lời rằng phẫu thuật thẩm mỹ sẽ an toàn 100%, vì ngay cả bác sĩ
                            lành nghề nhất cũng không đảm bảo điều đó, vì như với tất cả các thủ tục
                            phẫu thuật, một số mức độ rủi ro có thể xảy ra. Tuy nhiên, nếu ca phẫu thuật
                            của bạn được thực hiện bởi bác sĩ chuyên khoa, giàu kinh nghiệm và đội ngũ y
                            tế được đào tạo chuyên sâu, họ có thể giúp bệnh nhân giảm thiểu đến mức
                            thấp nhất các biến chứng trong quá trình phẫu thuật.
                            Ngoài ra, để tránh xảy ra các biến chứng điều cần thiết và quan trọng nhất là
                            sự hợp tác của bệnh nhân trước và sau phẫu thuật. Bệnh nhân phải tuân thủ
                            chính xác tất cả các hướng dẫn trước và sau phẫu thuật, đồng thời thảo luận
                            kỹ lưỡng về bất kỳ tình trạng y tế nào của bạn với bác sĩ phẫu thuật
                            trước đó. Đây là cách tốt nhất để đảm bảo quá trình phẫu thuật và hồi phục
                            diễn ra suôn sẻ.
                        </p>
                    </div>
                    <div id="3" class="item-content">
                        <h2>Quy trình phẫu thuật thẩm mỹ này có cần gây mê không?</h2>
                        <p> Tìm hiểu và biết về thủ tục gây mê trước bất kỳ ca phẫu thuật thẩm mỹ nào
                            cũng là điều quan trọng. Ngoài việc tìm hiểu liệu quy trình của bạn có cần
                            dùng thuốc an thần hoặc gây mê hay không, bạn cũng sẽ muốn biết ai sẽ là
                            người thực hiện thủ thuật đó. Bạn cần chắc chắn rằng bác sĩ gây mê là
                            người được chứng nhận của hội đồng quản trị hoặc bác sĩ gây mê, y tá đã
                            đăng ký được chứng nhận có mặt để quản lý và theo dõi trong suốt quy trình
                            phẫu thuật. Việc biết loại gây mê cần thiết cũng sẽ thông báo cho bạn biết
                            liệu bạn có cần người đưa bạn về nhà và chăm sóc cho bạn sau khi phẫu thuật
                            hay không.</p>
                    </div>
                    <div id="4" class="item-content">
                        <h2>Bác sĩ được chứng nhận về mặt chuyên môn là như thế nào?</h2>
                        <p>Tại Việt Nam, theo quy định tại Luật Khám bệnh, chữa bệnh và Thông tư số
                            41/2011/TT-BYT ngày 14/11/2011 của Bộ Y tế Hướng dẫn cấp chứng chỉ hành nghề
                            đối với người hành nghề và cấp giấy phép hoạt động đối với cơ sở khám
                            bệnh, chữa bệnh. Theo đó, Bác sỹ đã tốt nghiệp chuyên khoa định hướng Tạo
                            hình - Thẩm mỹ và thực hành chuyên khoa Phẫu thuật tạo hình thẩm mỹ tại Bệnh
                            viện đủ điều kiện cấp chứng chỉ hành nghề chuyên khoa Phẫu thuật tạo hình
                            thẩm mỹ theo quy định tại Điều 16 Thông tư số 41/2011/TT-BYT
                            Để kiểm tra xem bác sĩ mà bạn sắp thực hiện ca phẫu thuật có được cấp chứng
                            chỉ hành nghề hay không, hoặc trung tâm Thẩm mỹ đó có giấy phép hoạt động
                            không, bạn có thể vào tra cứu dánh sách Bác sĩ được cấp chứng chỉ hành nghề
                            hoặc trung tâm phẫu thuật thẩm mỹ có được cấp phép hoạt động không trên
                            website của Sở Y tế TP. Hồ Chí Minh, Sở Y tế Hà Hội... địa chỉ ở thành phố
                            nơi cơ sở thẩm mỹ đó trực thuộc, nơi bạn sắp thực hiện ca phẫu thuật.
                        </p>
                    </div>
                    <div id="5" class="item-content">
                        <h2>Phẫu thuật thẩm mỹ có thể thực hiện tại Spa, thẩm mỹ viện hoặc các cơ sở
                            làm đẹp, trung tâm phẫu thuật thẩm mỹ hay phẫu thuật phải được thực hiện tại
                            bệnh viện?</h2>
                        <p>Trước tiên, bạn nên biết rằng sự an toàn của bạn trong quá trình phẫu thuật
                            phụ thuộc vào chất lượng của cơ sở hoạt động. Cũng như bác sĩ phải được
                            chứng nhận, phòng mổ phải có giấy phép. Các cơ sở đạt chất lượng sẽ trang
                            bị đầy đủ hệ thống hỗ trợ Y tế trong trường hợp cấp thiết, đảm bảo an toàn
                            cho bệnh nhân khi có sự cố xảy ra.
                            Để biết xem cơ sở mà bạn sắp phẫu thuật có được cấp phép để hoạt động trong
                            lĩnh vực phẫu thuật mà bạn sắp thực hiện hay không bạn có thể tra cứu trên
                            website của Sở Y tế của thành phố nơi cơ sở thẩm mỹ đó trực thuộc.</p>
                    </div>
                    <div id="6" class="item-content">
                        <h2>Tôi nên làm gì để đạt được kết quả tốt nhất từ ca phẫu thuật của mình?</h2>
                        <p>Có một số bước bạn có thể thực hiện để có được kết quả phẫu thuật tốt
                            nhất có thể, bao gồm các bước sau:
                        <ul>
                            <li>Ngừng dùng bất kỳ chất bổ sung không kê đơn nào, chẳng hạn như vitamin,
                                khoáng
                                chất và các sản phẩm thảo dược, bảy ngày trước khi phẫu thuật. Nếu bạn
                                hút
                                thuốc, hãy bỏ hút thuốc ít nhất sáu tuần trước khi phẫu thuật để tránh
                                các
                                vấn đề về chữa bệnh và các biến chứng y tế nghiêm trọng trong quá trình
                                hồi
                                phục của bạn.</li>
                            <li>Thông báo cho bác sĩ của bạn biết nếu bạn đang dùng aspirin hoặc các loại
                                thuốc có đặc tính chống đông máu, vì chúng có thể gây chảy máu không cần
                                thiết trong khi phẫu thuật. Bác sĩ có thể yêu cầu bạn ngừng thuốc trước
                                khi
                                phẫu thuật để giảm thiểu nguy cơ chảy máu không cần thiết. Bạn muốn có
                                sức
                                khỏe tốt nhất trước khi đến làm phẫu thuật. Vì lý do này, nếu bạn bị cảm
                                lạnh hoặc sốt, hoặc bị nhiễm trùng hoặc chấn thương, bạn nên đợi cho đến
                                khi
                                bạn hoàn toàn khỏe mạnh, sau đó hãy tiến hành phẫu thuật thẩm mỹ để giảm
                                thiểu nguy cơ biến chứng phẫu thuật có thể xảy ra.</li>
                        </ul>
                        </p>
                    </div>
                    <div id="7" class="item-content">
                        <h2>Nếu có các biến chứng nghiêm trọng trong quá trình thực hiện hoặc sau
                            phẫu thuật, bác sĩ phẫu thuật có chịu trách nhiệm và có giải pháp
                            điều trị hay không?</h2>
                        <p>Theo thống kê, ngay cả những bác sĩ có trình độ chuyên môn cao nhất thực
                            hiện các thủ thuật thông thường nhất cũng có thể gặp phải các biến
                            chứng. Một trong những lý do quan trọng để xác định rằng nơi mà bạn sẽ
                            tiến hành phẫu thuật thẩm mỹ có các đặc quyền của bệnh viện (có đủ
                            trang thiết bị y tế, nhân lực cần thiết), trong trường hợp khẩn cấp
                            trong quá trình điều trị ngoại trú có thể kịp thời xử lý. Việc xác
                            nhận các quy trình đang thực hiện đủ điều kiện để đối phó với các sự
                            kiện bất ngờ có thể mang lại sự yên tâm cho bạn</p>
                    </div>
                </section>
            </div>
        </section>
        <section style="background: url('../images/Gradient.jpg');padding: 90px 0; text-align: center;">
            <img src="../images/logo etoi 3.png"
                alt="“Etoile de Seoul - Thương hiệu được tạo nên từ chất lượng và sự tận tâm”">
            <p>“Etoile de Seoul - Thương hiệu được tạo nên từ chất lượng và sự tận tâm”</p>
        </section>

        <!-- footer  -->
        <footer class="footer">
            <div class="footer-sitemap">
                <div class="box-wp">
                    <div class="ft-col1">
                        <h3 class="title">LIÊN HỆ</h3>
                        <p>
                            <meta charset="utf-8" />137 P. Nguyễn Văn Trỗi, P. Mộ Lao, Hà Đông, Hà Nội<br />
                            <meta charset="utf-8" />Hotline: 0988782832<br />
                            Email: info@etoile.vn &nbsp;
                        </p>
                    </div>
                    <div class="ft-col2">
                        <h3 class="title">LIÊN KẾT NHANH</h3>
                        <ul class="ft-sitemap clearfix">
                            <li><a href="./about-us.html">Về chúng tôi</a></li>
                            <li><a href="./question.html">Câu chuyện của khách hàng</a></li>
                            <li><a href="./news.html">Tin tức</a></li>
                            <li><a href="../index.html">Trang chủ</a></li>
                        </ul>
                    </div>
                    <div class="ft-col3">
                        <div class="hotline">
                            <h3 class="title">TỔNG ĐÀI HỖ TRỢ</h3>
                            <ul class="social">
                                <li><a href="tel:0988782832"><i class="fa-sharp fa-solid fa-headset"></i> 0988 782
                                        832</a></li>
                            </ul>
                        </div>
                        <div class="follow">
                            <h3 class="title">THEO DÕI CHÚNG TÔI</h3>
                            <div class="ft-social">
                                <ul class="social">
                                    <li class="facebook"><a target="_blank" href="https://www.facebook.com"><i
                                                class="fa-brands fa-facebook"></i></a></li>
                                    <li class="instagram"><a target="_blank" href="https://www.instagram.com"><i
                                                class="fa-brands fa-instagram"></i></a></li>
                                    <li class="youtube"><a target="_blank" href="https://www.youtube.com"><i
                                                class="fa-brands fa-youtube"></i></a></li>
                                    <li class="twitter"><a target="_blank" href="https://twitter.com"><i
                                                class="fa-brands fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ft-col4">
                        <h3 class="title">ĐĂNG KÍ NHẬN TƯ VẤN</h3>
                        <form action="" style="color: #AE7D67;">
                            <input style="color: #AE7D67;" type="text" placeholder="Email">
                            <button><i class="fa-solid fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="box-wp">
                    <div class="copyright">
                        <p>
                            <meta charset="utf-8" />
                            <meta charset="utf-8" />Copyright © 2023 <strong>EtoiledeSeoul.</strong> All rights
                            reserved.
                        </p>
                    </div>
                    <div class="dnw">Designed and Maintained by <a target="_blank" href="https://danaweb.vn">
                            <img style="margin-top: -10px;" src="../images/danaweb.png"></a></div>
                </div>
            </div>
        </footer>
        <!-- end footer  -->
        <nav id="menu" class="sub-menu">
            <ul>
                <li class="selected"><a href="../index.html">Trang chủ</a></li>
                <li><a href="./about-us.html">Về chúng tôi</a></li>
                <li><a href="./question.html">Câu chuyện của khách hàng</a></li>
                <li><a href="./news.html">Tin tức</a></li>
                <li><a href="./question.html">Câu hỏi thường gặp</a></li>
                <li><a href="./contact.html">Liên hệ</span></li>
                <img src="../images/logo etoi 3.png" alt="">
            </ul>
        </nav>
    </div>
</body>

</html>